*{
    box-sizing: border-box;
}

body{
    background-color: #eee2e2;
    text-align: center;
}

.canvas-container{
    display:flex;
    justify-content: center;
}

canvas{
    background-color: rgb(208, 194, 194);
    border: 1px grey solid;
}