.gallery{
    display:grid;
    grid-auto-flow: column;
    grid-template-rows: 20vh 20vh 20vh;
    /* gap:10px; */
    position:absolute;
    top:140px;
    bottom:0;


}


.gallery img{
    width: 35%;
}