*{
    box-sizing: border-box;
}


body{
    /* display:grid; */
    background-color: #e1d7d7;
    
}



canvas{
    background-color: rgb(208, 194, 194);
    border: 1px grey solid;
}

.add-line {
	width: 27%;
    font:ariel;
    font-size: 1.3em;
	padding: 10px;
    padding: 2em;
    border: 1px solid lightgray;
    /* opacity: 0; */
    transition:opacity 0.5s;

}

.add-line>*{
    padding:1.5px;
    margin:1px;
}

img{
    width: 50%;
}

img:hover{
    cursor: pointer;

}


